@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');
@import url('../vender/swiper/swiper.min.css');

@font-face {
    font-family: 'HelveticaNeueLTStd-MdCn';
    src: url('../fonts/helveticaNeueLTStd-MdCn.eot');
    src: url('../fonts/helveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaNeueLTStd-MdCn.svg#helveticaNeueLTStd-MdCn') format('svg'), url('../fonts/helveticaNeueLTStd-MdCn.ttf') format('truetype'), url('../fonts/helveticaNeueLTStd-MdCn.woff') format('woff'), url('../fonts/helveticaNeueLTStd-MdCn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*  
font-family: 'Open Sans',sans-serif;
font-family: 'Roboto Slab',serif; 
font-family: 'HelveticaNeueLTStd-MdCn';
*/

@font-face {
    font-family: 'italic';
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'), url('../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'light';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'light_italic';
    src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2'), url('../fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'regular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'semibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bold_italic';
    src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'), url('../fonts/opensans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '_condensedbold';
    src: url('../fonts/opensans-condbold-webfont.woff2') format('woff2'), url('../fonts/opensans-condbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'condensed_light';
    src: url('../fonts/opensans-condlight-webfont.woff2') format('woff2'), url('../fonts/opensans-condlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CnLtIt';
    src: url('../fonts/opensans-condlightitalic-webfont.woff2') format('woff2'), url('../fonts/opensans-condlightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'extrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'extrabold_italic';
    src: url('../fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vm55Roman';
    src: url('../fonts/VoltaModernText-55Roman.eot');
    src: url('../fonts/VoltaModernText-55Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/VoltaModernText-55Roman.woff2') format('woff2'), url('../fonts/VoltaModernText-55Roman.woff') format('woff'), url('../fonts/VoltaModernText-55Roman.ttf') format('truetype'), url('../fonts/VoltaModernText-55Roman.svg#VoltaModernText-55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vm45Lt';
    src: url('../fonts/VoltaModernDisplay-45Light.eot');
    src: url('../fonts/VoltaModernDisplay-45Light.eot?#iefix') format('embedded-opentype'), url('../fonts/VoltaModernDisplay-45Light.woff2') format('woff2'), url('../fonts/VoltaModernDisplay-45Light.woff') format('woff'), url('../fonts/VoltaModernDisplay-45Light.ttf') format('truetype'), url('../fonts/VoltaModernDisplay-45Light.svg#VoltaModernDisplay-45Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vm75';
    src: url('../fonts/VoltaModernText-75Bold.eot');
    src: url('../fonts/VoltaModernText-75Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/VoltaModernText-75Bold.woff2') format('woff2'), url('../fonts/VoltaModernText-75Bold.woff') format('woff'), url('../fonts/VoltaModernText-75Bold.ttf') format('truetype'), url('../fonts/VoltaModernText-75Bold.svg#VoltaModernText-75Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vm75Bldit';
    src: url('../fonts/VoltaModernDisplay-76BoldItalic.eot');
    src: url('../fonts/VoltaModernDisplay-76BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/VoltaModernDisplay-76BoldItalic.woff2') format('woff2'), url('../fonts/VoltaModernDisplay-76BoldItalic.woff') format('woff'), url('../fonts/VoltaModernDisplay-76BoldItalic.ttf') format('truetype'), url('../fonts/VoltaModernDisplay-76BoldItalic.svg#VoltaModernDisplay-76BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'vm65Med';
    src: url('../fonts/VoltaModernDisplay-65Medium.eot');
    src: url('../fonts/VoltaModernDisplay-65Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/VoltaModernDisplay-65Medium.woff2') format('woff2'), url('../fonts/VoltaModernDisplay-65Medium.woff') format('woff'), url('../fonts/VoltaModernDisplay-65Medium.ttf') format('truetype'), url('../fonts/VoltaModernDisplay-65Medium.svg#VoltaModernDisplay-65Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vm75Bld';
    src: url('../fonts/VoltaModernDisplay-75Bold.eot');
    src: url('../fonts/VoltaModernDisplay-75Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/VoltaModernDisplay-75Bold.woff2') format('woff2'), url('../fonts/VoltaModernDisplay-75Bold.woff') format('woff'), url('../fonts/VoltaModernDisplay-75Bold.ttf') format('truetype'), url('../fonts/VoltaModernDisplay-75Bold.svg#VoltaModernDisplay-75Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vm55Rom';
    src: url('../fonts/VoltaModernDisplay-55Roman.eot');
    src: url('../fonts/VoltaModernDisplay-55Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/VoltaModernDisplay-55Roman.woff2') format('woff2'), url('../fonts/VoltaModernDisplay-55Roman.woff') format('woff'), url('../fonts/VoltaModernDisplay-55Roman.ttf') format('truetype'), url('../fonts/VoltaModernDisplay-55Roman.svg#VoltaModernDisplay-55Roman') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'vm95Blk';
    src: url('../fonts/VoltaModernDisplay-95Black.eot');
    src: url('../fonts/VoltaModernDisplay-95Black.eot?#iefix') format('embedded-opentype'), url('../fonts/VoltaModernDisplay-95Black.woff2') format('woff2'), url('../fonts/VoltaModernDisplay-95Black.woff') format('woff'), url('../fonts/VoltaModernDisplay-95Black.ttf') format('truetype'), url('../fonts/VoltaModernDisplay-95Black.svg#VoltaModernDisplay-95Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html,
body {
    width: 100%;
}

*:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

:root {
    --org: #e74a21;
    --blk: #030000;
    --wht: #ffffff;
}

body {
    font-size: 16px;
    color: var(--blk);
    font-family: 'vm55Roman';
    margin: 0;
    padding: 0;
}

a {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: var(--blk);
}

a:hover {
    text-decoration: none;
    color: var(--org);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input [type=submit],
button {
    outline: none !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.clear {
    clear: both;
}

.mainContainer {
    position: relative;
}

.m-bottom {
    margin-bottom: 50px;
}

.containerBig {
    width: 1630px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none !important;
}

/* 
body {
opacity: 0;
} */
/*======================
Header Start
======================= */

header {
    position: sticky;
    top: -40px;
    z-index: 1000;
    background: var(--wht);
}

.logo {
    width: 200px;
    transition: all 0.3s ease;
    display: flex;
}

.logo a {
    display: block;
}

.logo img {
    width: 100%;
}

.main-header ul {
    display: inline-block;
    vertical-align: middle;
}

.main-header ul li {
    float: left;
    text-align: center;
    /*height: 100%;*/
    padding: 0 14px;
    font-family: 'Open Sans', 'semibold', sans-serif;
}

.main-header .navigation>.subm {
    padding-right: 25px;
}

.main-header .navigation>.subm:after {
    content: ' ';
    width: auto;
    height: auto;
    padding: 5px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    position: absolute;
    transform: translateY(-50%) rotate(-45deg);
    top: 48%;
    right: 0px;
    transition: 0.2s all ease;
    transform-origin: center center;
}

.main-header .navigation>.subm:hover:after {
    transform: translateY(-50%) rotate(135deg);
    top: 55%;
}

.main-header ul li:last-of-type {
    margin-right: 0;
}

.main-header ul li a {
    font-size: 16px;
    color: var(--blk);
    padding: 8px 0;
    display: block;
    font-weight: 600;
    transition: all 0.3s ease;
    line-height: 1;
    font-style: normal !important;
    text-decoration: none !important;
}

.main-header ul li:hover a {
    font-weight: 600;
    color: var(--blk);
}

/* .main-header ul li.active a {
    font-weight: 700;
    font-family: 'Open Sans', 'bold', sans-serif;
} */

.main-header ul li.cta {
    background: #005084;
}

.main-header ul li.cta a {
    color: var(--wht);
}

.main-header ul li.cta:hover a {
    color: #d9af45;
}

.main-header ul li.cta.active a {
    color: #d9af45;
}

.main-header__in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 0px 0 24px;
}

.fxHdr {
    display: block;
}

.fixHeader .fxHdr {
    display: none;
}

.fixHeader .logo {
    width: 240px;
}

.main-header {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.05);
}

.fixHeader .main-header {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.0);
}

.fixHeader .main-header ul li {
    padding: 0 0px 0 48px;
}

.fixHeader .main-header ul li li {
    padding: 0 12px;
}

.fixHeader .main-header ul li a {
    padding: 8px 0;
}

.fixHeader .main-header ul li.fxHdr a {
    padding: 32px 0;
}

.fixHeader .main-header__in {
    height: 80px;
}

.main-header ul li:nth-of-type(4) {
    margin-right: 0;
}

.fxHdr1 {
    border-left: 0px solid #ccc;
    padding-left: 25px;
    margin-left: 0px !important;
}

.small-header ul {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
}

.small-header ul li {
    /*  border-right: 1px solid #030000; */
    position: relative;
    height: 40px;
    line-height: 33px;
    padding: 0 40px;
    font-size: 14px;
    color: #030000;
}

.small-header ul li:after {
    content: '';
    position: absolute;
    height: 16px;
    width: 1px;
    border-right: 1px solid #030000;
    right: 0;
    top: 50%;
    transform: translateY(-64%);
}

.small-header ul li:last-of-type {
    border-right: 0;
    padding: 0 20px;
    padding-right: 0;
}

.small-header ul li:last-of-type:after {
    border-right: 0px solid #030000;
}

.small-header ul li a {
    font-size: 14px;
    color: #030000;
    text-decoration: none !important;
}

.small-header ul li a:hover {
    opacity: 0.7;
}

/*======================
Header Over
======================= */
/*======================
Banner Home Start
======================= */
/*   .top-home-banner {
    margin: 36px 0;
} */

.top-home-banner .half {
    width: 50%;
    background: #000;
}

.top-home-banner .content {
    padding: 26px 40px;
    font-family: 'vm55Roman';
    color: var(--wht);
}

.top-home-banner .content p {
    margin-bottom: 20px;
    font-size: 23px;
    font-family: 'vm55Roman';
}

.top-home-banner .content .desk-info p {
    font-family: 'vm65Med';
    font-size: 26px;
}

.top-home-banner .content p small {
    font-size: 14px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.ang-bre {
    position: relative;
}

/* .ang-bre:after,
.ang-bre:before {
    content: '';
    width: 30px;
    height: 105%;
    border: 4px solid #ec008c;
    border-top: 8px solid #ec008c;
    border-bottom: 8px solid #ec008c;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9;
}

.ang-bre:after {
    border-left: 0;
    right: -10px;
}

.ang-bre:before {
    border-right: 0;
} */

.call-out {
    background: var(--org);
    width: 100%;
    margin-top: 16px;
}

.slid-content {
    display: flex;
    align-items: center;
    padding: 32px 65px;
}

.slid-content img {
    margin-right: 32px;
    width: 108px;
}

.slid-content p {
    white-space: normal;
    font-family: 'vm65Med';
    color: var(--wht);
    font-size: 28px;
    flex: 1;
    margin-bottom: 0;
}

.swiper-slide {
    width: 100% !important;
}

.swiper-slide img {
    /*  height: 100% !important; */
    object-fit: contain;
}

.img-caro img {
    height: 100% !important;
}

.call-out {
    max-height: 200px;
}

.call-out .swiper-pagination {
    text-align: end;
    padding: 0 15px;
}

.call-out .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--wht) !important;
}

.call-out .swiper-pagination-bullet {
    border-radius: 0;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid var(--wht);
    opacity: 1;
}

sup {
    top: -0.8em;
}

.contents-space {
    padding: 30px 40px;
}

.hdn {
    font-family: 'vm65Med';
    margin-bottom: 24px;
}

.hdn h5 {
    font-size: 27px;
}

.hdn h1 {
    color: var(--org);
    font-family: 'vm95Blk';
    font-size: 50px;
    margin-bottom: 0;
}

.list-view {
    margin: 0 40px;
}

.list-view li,
.info p,
.contact-sec p {
    position: relative;
    font-family: 'vm55Roman';
    font-size: 24px;
}

.info p {
    padding-left: 0px;
    margin-bottom: 24px;
}

.info p:last-child,
.contact-sec p {
    margin-bottom: 0px;
}

.list-view li {
    padding-left: 25px;
    margin-bottom: 8px;
}

.info p strong {
    font-family: 'vm75Bld';
}

.list-view li::before {
    content: '';
    position: absolute;
    display: block;
    padding: 4px;
    background: var(--blk);
    border-radius: 50%;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
}

.contact-sec img {
    margin-right: 12px
}

.contact-sec a,
.foo-logo a {
    position: relative;
    text-decoration: underline !important;
}

/* .contact-sec a:after {
    content: '';
    border-bottom: 2px solid var(--blk);
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: all 0.2s ease-in-out;
} */

/* .contact-sec a:hover:after {
    border-bottom: 2px solid var(--org);
} */

/*======================
Banner Home Over
======================= */

button,
.button {
    display: block;
    width: max-content;
    text-align: center;
    color: var(--wht);
    background: var(--org);
    border: 0;
    cursor: pointer;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    font-family: 'vm75Bld';
    padding: 5px 20px;
    font-size: 24px;
    border: 1px solid var(--org);
    text-decoration: none !important;
}

button.line,
.button.line {
    background: transparent;
    border: 1px solid var(--blk);
    font-size: 22px;
    color: var(--blk);
    min-width: 214px;
    padding: 0 12px;
    height: 50px;
    line-height: 50px;
}

button.wht,
.button.wht {
    background: var(--wht);

    font-size: 22px;
    color: var(--blk) !important;
    min-width: 214px;
    padding: 0 12px;
    height: 50px;
    line-height: 50px;
}

button.wht:hover,
.button.wht:hover {
    background: var(--org);

    color: var(--wht);
}

button.white {
    background: var(--wht);
    border: 1px solid var(--wht);
    font-size: 22px;
    color: var(--blk);
    min-width: 214px;
    padding: 0 12px;
    height: 50px;
    line-height: 50px;
}

button.white:hover {
    background: var(--org);
    border: 1px solid var(--wht);
    font-size: 22px;
    color: var(--wht);
    min-width: 214px;
    padding: 0 12px;
    height: 50px;
    line-height: 50px;
}

.favorites button.line,
.favorites .button.line {
    margin: 40px;
}

button:hover,
.button:hover {
    border: 1px solid var(--org);
    background: transparent;
    color: var(--org);
}

.banner-container__main button,
.banner-container__main .button {
    margin-top: 20px;
}

.gray-wrap button.line,
.gray-wrap .button.line,
.favorites button.line,
.favorites .button.line {
    background: #fff;
}

/*======================
Top Strip
======================= */

.banner-container__top {
    background-color: var(--org);
    display: flex;
    align-items: center;
    min-height: 94px;
    padding: 18px 0;
}

.banner-container__top h2 {
    color: var(--wht);
    font-family: 'vm55Roman';
    font-size: 40px;
    margin-bottom: 0;
    padding-left: 24px;
}

.banner-container__top h3 {
    color: var(--wht);
    font-family: 'vm65Med';
    font-size: 36px;
    margin-bottom: 0;
    padding-left: 24px;
    text-align: left;
    margin-top: 10px;
}

.banner-container__top h2 span {
    font-family: 'vm65Med';
}

/*======================
Top Strip Over
======================= */
/*======================
Form title 
======================= */

.default-box h2 {
    font-family: 'vm75Bld';
    text-align: center;
    color: var(--blk);
    margin-bottom: 18px;
    font-size: 30px;
}

.default-box h2 span {
    font-size: 34px;
}

.default-box p {
    font-family: 'vm55Rom';
    color: var(--blk);
    max-width: 905px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    line-height: 1.6;
}

.default-box h3 {
    text-align: center;
    color: var(--blk);
    margin-bottom: 18px;
    font-size: 30px;
    font-weight: 600;
}

.contact-msg .default-box p {
    font-size: 30px;
    max-width: 100%;
}

/*======================
Form title  Over
======================= */
/*======================
Form field  start
======================= */

.form-box {
    margin-bottom: 28px;
}

.form-box label {
    font-family: 'vm55Rom';
    color: var(--blk);
    font-size: 16px;
    font-style: normal !important;
}

.error-box .form-field {
    border: 1px solid red;
}

.error-box .select2-container--default .select2-selection--single {
    border: 1px solid red;
}

.error-box.form-box textarea {
    border: 1px solid red;
}

.error-box .error {
    display: block;
}

.error {
    font-size: 14px;
    color: red;
    font-family: 'Open Sans', 'bold', sans-serif;
    margin-top: 10px;
    /* opacity : 0; */
    display: none;
}

#myModal .error {
    color: var(--wht);
}

.form-field {
    border: 1px solid var(--blk);
    height: 50px;
    width: 100%;
    background: var(--wht);
    outline: none;
    padding: 0 15px;
    color: var(--blk);
    font-size: 16px;
}

.htFilterRow .form-field {
    text-align-last: center;
}

option {
    text-align: center;
    text-align-last: center;
    /* reset to left*/
}

.sortSel {
    text-align: center;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--blk);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--blk);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--blk);
}

.form-box textarea {
    border: 1px solid var(--blk);
    height: 240px;
    width: 100%;
    background: transparent;
    outline: none;
    padding: 15px;
    line-height: 1.5;
}

.req {
    position: relative;
}

.req:after {
    content: '*';
    color: red;
    left: 3px;
    position: relative;
    top: 2px;
    font-size: 18px;
}

.form-box button,
.form-box .button {
    margin: 0 auto;
    display: block;
}

.forgot {
    text-align: center;
    margin: 10px 0;
}

.forgot a {
    font-family: 'vm55Roman';
    color: var(--blk) !important;
    font-size: 18px;
    text-align: center;
    text-decoration: underline !important;
    cursor: pointer;
}

.forgot a:hover {
    color: var(--org) !important;
}

.login-register {
    margin: 100px 0;
}

/*======================
Form field  start
======================= */

.sp-container {
    padding: 75px 0;
}

/* 
.sp-box {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 50px;
 position: relative;
}

.sp-box__in {
 width: 265px;
 height: 244px;
 text-align: center;
 background: #035084;
 position: relative;
 cursor: pointer;
 transition: 0.5s all ease;
 -webkit-transition: 0.5s all ease;
 -moz-transition: 0.5s all ease;
 -ms-transition: 0.5s all ease;
 -o-transition: 0.5s all ease;
}

.sp-box__in:before {
 content: '';
 position: absolute;
 width: 100%;
 height: 13px;
 left: 0;
 top: 0;
 background: #f6d359;
}

.sp-box__in h2 {
 margin: 0;
 padding: 0 25px;
 color: var(--wht);
 text-align: left;
 position: absolute;
 width: 100%;
 top: 50%;
 background: url(../img/right-arrow.png)no-repeat calc(100% - 12px) center;
 transform: translate(0, -50%);
 -webkit-transform: translate(0, -50%);
 -moz-transform: translate(0, -50%);
 -ms-transform: translate(0, -50%);
 -o-transform: translate(0, -50%);
 transition: 0.5s all ease;
 -webkit-transition: 0.5s all ease;
 -moz-transition: 0.5s all ease;
 -ms-transition: 0.5s all ease;
 -o-transition: 0.5s all ease;
}

.sp-box__in h2 span {
 font-family: 'Open Sans', 'extrabold', sans-serif;
 font-weight: 800;
 display: block;
}

.sp-box__in p {
 font-size: 19px;
 color: var(--wht);
 text-align: center;
 position: absolute;
 width: 100%;
 top: 50%;
 transform: translate(0, -50%);
 -webkit-transform: translate(0, -50%);
 -moz-transform: translate(0, -50%);
 -ms-transform: translate(0, -50%);
 -o-transform: translate(0, -50%);
 padding: 0 20px;
 margin: 0;
 opacity: 0;
 transition: 0.5s all ease;
 -webkit-transition: 0.5s all ease;
 -moz-transition: 0.5s all ease;
 -ms-transition: 0.5s all ease;
 -o-transition: 0.5s all ease;
 transition-delay: 0s;
 -webkit-transition-delay: 0s;
 -moz-transition-delay: 0s;
 -ms-transition-delay: 0s;
 -o-transition-delay: 0s;
 z-index: 9;
}

.sp-box__in__hover {
 background: #035084;
 position: absolute;
 right: 0;
 bottom: 0;
 width: 0%;
 height: 100%;
 transition: 0.5s all ease;
 -webkit-transition: 0.5s all ease;
 -moz-transition: 0.5s all ease;
 -ms-transition: 0.5s all ease;
 -o-transition: 0.5s all ease;
 transition-delay: 0.2s;
 -webkit-transition-delay: 0.3s;
 -moz-transition-delay: 0.3s;
 -ms-transition-delay: 0.3s;
 -o-transition-delay: 0.3s;
 overflow: hidden;
}

.sp-box__in:hover .sp-box__in__hover {
 width: 100%;
 transition-delay: 0s;
 -webkit-transition-delay: 0s;
 -moz-transition-delay: 0s;
 -ms-transition-delay: 0s;
 -o-transition-delay: 0s;
}

.sp-box__in:hover p {
 opacity: 1;
 transition-delay: 0.3s;
 -webkit-transition-delay: 0.3s;
 -moz-transition-delay: 0.3s;
 -ms-transition-delay: 0.3s;
 -o-transition-delay: 0.3s;
}

.sp-box-img {
 width: 100%;
 position: relative;
 /* height: 600px; 
}
.sp-box-img img {
width: 100%;
/* height    : 100%; 
 /* object-fit: cover; 
} */

.colour-box {
    background: #fef8e6;
}

.section {
    padding: 70px 0 40px;
}

.ind-txt {
    position: relative;
    font-size: 14px;
    color: #4a4a4a;
    padding-left: 2px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
}

.ind-txt span {
    position: relative;
    left: 0;
    top: -1px;
    color: red;
}

.footer-slip {
    background: var(--wht);
    height: 39px;
}

.salix-logo {
    margin-bottom: 20px;
}

footer .copy .select2-container--default .select2-selection--single {
    height: 50px;
    width: 100%;
    background: transparent;
    border: 1px solid var(--blk);
    outline: none;
    padding: 0 15px;
    border-radius: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    padding: 0;
}

.select2-search--dropdown {
    padding: 0;
    height: 0;
    overflow: hidden;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    width: 40px;
    background: url(../img/dropdown.png) no-repeat center center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-dropdown {
    background-color: var(--wht);
    border: 1px solid var(--blk);
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: transparent;
    color: var(--blk);
}

.select2-results__option {
    color: #8ba6b7;
}

.select2-container--default .select2-results>.select2-results__options {
    padding: 15px;
    max-height: inherit;
}

h3 {
    font-size: 26px;
    line-height: 40px;
    color: var(--blk);
    text-align: center;
    font-family: 'vm55Rom';
    margin: 25px 0;
}

h3 strong {
    font-family: 'Open Sans', 'semibold', sans-serif;
    font-weight: 600;
}

.clear {
    clear: both;
    width: 100%;
}

.check-box {
    position: relative;
    margin-bottom: 10px;
}

.check-box input {
    position: absolute;
    width: 0;
    opacity: 0;
}

.check-box label {
    font-size: 14px;
    line-height: 22px;
    color: var(--blk);
    cursor: pointer;
    padding-left: 30px;
}

label a {
    color: var(--blk);
    display: inline-block;
}

label a:before {
    content: ' ';
    position: absolute;
    bottom: -2px;
    border-bottom: 1px solid #000;
    width: calc(100% - 10px);
    transition: all .03s ease;
}

label a:hover:before {
    border-bottom: 1px solid #000;
    width: 0
}

.check-box input:checked+label:before {
    background: url('../img/right-blue.png') no-repeat center center/contain;
}

.check-box label:before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid var(--blk);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 3px;
}

.error-box.check-box label:before {
    border: 1px solid red;
}

.ehr-box {
    text-align: center;
    padding: 0 10px;
}

.ehr-box h2 {
    font-size: 28px;
    line-height: 40px;
    color: #035084;
    font-family: 'Open Sans', 'semibold', sans-serif;
    font-weight: 600;
}

.ehr-box h2 span {
    display: block;
    font-family: 'Open Sans', 'regular', sans-serif;
    font-weight: 400;
}

.ehr-img img {
    max-width: 100%;
}

.ehr-box button,
.ehr-box .button {
    margin: 35px auto 0;
}

.ehr-contact h3 {
    margin-bottom: 25px;
}

.ehr-contact {
    text-align: center;
    /* margin-bottom: 110px; */
}

.ehr-contact .button {
    margin: 0 auto 40px;
}

.evidence-links ul li {
    font-size: 26px;
    color: #035084;
    margin: 30px 0;
    display: inline-block;
    vertical-align: middle;
}

.evidence-links ul li h2 {
    font-family: 'Open Sans', 'semibold', sans-serif;
    font-weight: 600;
    margin: 0;
}

.evidence-links ul li a {
    color: #035084;
    text-decoration: underline;
}

.evidence-links {
    background: #fef8e6;
    padding: 15px 50px;
    margin-top: 30px;
}

.guideline-links ul li {
    background: #fef8e6;
    padding: 25px 100px;
    margin-bottom: 33px;
}

.guideline-links ul li a {
    font-size: 26px;
    line-height: 1.8;
    color: #035084;
    text-decoration: underline;
    position: relative;
}

.guideline-links ul li a img {
    position: absolute;
    left: -50px;
    top: 2px;
}

.guideline-links {
    margin: 30px 0 0 0;
}

.change-password-box {
    margin: 50px 0;
}

.upload-logo__content {
    padding-left: 70px;
    padding-top: 30px;
}

.upload-logo {
    display: flex;
    margin: 20px 0;
}

.upload-logo__img-box {
    text-align: center;
}

.upload-logo__content h2 {
    font-size: 30px;
    color: var(--blk);
    font-family: 'vm95Blk';
    margin-bottom: 12px;
}

.upload-logo__content p {
    font-size: 18px;
    color: var(--blk);
    font-family: 'vm55Roman';
}

.upload-logo__content .edit-logo {
    font-size: 18px;
    color: #035084;
    text-align: center;
}

.upload-logo__img {
    width: 137px;
    height: 137px;
    border-radius: 0;
    background-color: transparent;
    overflow: hidden;
    border: 1px solid var(--blk);
}

.upload-logo__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-logo__img-box input {
    position: absolute;
    width: 0;
    overflow: hidden;
}

.upload-logo__img-box label {
    font-family: 'vm55Roman';
    font-size: 18px;
    color: var(--blk);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

.upload-logo__img-box label:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid var(--blk);
    transition: all 0.2s ease;
}

.upload-logo__img-box label:hover {
    color: var(--org);
}

.upload-logo__img-box label:hover:after {
    width: 0%;
    border-bottom: 1px solid var(--org);
}

.upload-form-sec {
    border: 1px solid var(--blk);
    height: 50px;
    width: 100%;
    background: transparent;
    outline: none;
}

.upload-form-sec__1 {
    height: 50px;
    width: 100%;
    background: transparent;
    outline: none;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upload-form-sec__1 p {
    margin: 0;
}

.upload-form-sec__1 input {
    position: absolute;
    opacity: 0;
    width: 0;
}

.upload-form-sec__1 label {
    width: 84px;
    height: 25px;
    background: var(--org);
    font-size: 12px;
    color: #fefefe;
    margin: 0;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.upload-form-sec__1 label:hover {
    background: var(--org);
}

.upload-form-sec__2 {
    display: none;
    position: relative;
}

.upload-form-sec__2__name {
    margin: 0;
    padding: 12px 15px;
}

.upload-form-sec__2__remove {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 50px;
    font-size: 12px;
    color: red;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    cursor: pointer;
}

.upload-form-sec__2__remove:hover {
    text-decoration: underline;
}

.pad {
    padding: 0 120px;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-box {
    background: #8d1f1b;
    width: 100%;
    max-width: 1170px;
    padding: 80px;
    pointer-events: auto;
}

.modal-box .default-box h2,
.modal-box .default-box p,
.modal-box .form-box label,
.modal-box .default-box a,
.modal-box .ind-txt {
    color: var(--wht);
}

.modal-box .default-box a:hover {
    color: var(--blk);
}

.modal-box .default-box p {
    margin-bottom: 16px;
}

.modal-box .default-box p strong,
.modal-box .default-box a {
    font-family: 'vm65Med';
    max-width: 860px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    line-height: 1.6;
}

.modal-box .default-box a {

    line-height: 2.7;
}

.modal-box .form-field {
    background: var(--wht);
}

.modal-box .form-box button,
.modal-box .form-box .button {
    font-family: 'vm95Blk';
    margin: 0 auto;
    display: block;
    background: var(--wht);
    color: var(--blk);
    font-size: 22px;
    padding: 15px;
}

.modal-box .form-box button:hover,
.modal-box .form-box .button:hover {
    background: rgba(255, 255, 255, 0.8);
}

.modal-box-license {
    background: var(--wht);
    width: 100%;
    max-width: 1170px;
    padding: 80px;
    pointer-events: auto;
}

.model-close {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
}

.model-close:hover {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.menu {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 35px;
    height: 30px;
    top: 0;
    margin: 0 15px;
    display: none;
}

.menu span {
    height: 3px;
    width: 27px;
    background: #000;
    right: 0;
    top: 15px;
    border-radius: 30px;
    position: absolute;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}

.menu span:before {
    content: '';
    position: absolute;
    top: -10px;
    right: 0;
    background: #000;
    height: 3px;
    width: 34px;
    border-radius: 30px;
}

.menu span:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    background: #000;
    height: 3px;
    width: 34px;
    border-radius: 30px;
}

.menu:hover span {
    width: 34px;
}

/* Health Tool */

.htContainer {
    padding: 70px 0;
}

.htContainerIn {
    max-width: 1175px;
    margin: 0 auto;
}

.htBox {
    margin-bottom: 60px;
    width: 50%;
    float: left;
}

.htImg {
    width: 180px;
}

.htBoxIn {
    display: flex;
    padding: 25px 30px;
    background: rgb(243, 243, 243);
    width: 555px;
    height: 318px;
}

.htBox:nth-of-type(even) .htBoxIn {
    float: right;
}

.htImg img {
    width: 100%;
}

.htCont {
    padding-left: 30px;
    width: calc(100% - 180px);
}

.htCont button,
.htCont .button {
    font-size: 16px;
    line-height: 30px;
}

.htCont__in {
    min-height: 210px;
}

.htCont__in h3 {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.5;
    color: black;
    font-family: 'Open Sans', 'semibold', sans-serif;
    text-align: left;
    margin: 0;
}

.htCont__in p {
    font-size: 18px;
    line-height: 1.3;
    color: black;
    margin: 0;
    ;
    font-weight: 400;
}

ul.pagin {
    text-align: center;
    margin: 30px 0 0;
    clear: both;
}

ul.pagin li {
    font-size: 16px;
    color: #035084;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    font-family: 'Open Sans', 'semibold', sans-serif;
    font-weight: 600;
    border-radius: 50%;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    cursor: pointer;
}

ul.pagin li:hover,
ul.pagin li.active {
    background: var(--org);
    color: var(--wht);
}

ul.pagin li.paginNP {
    background: var(--org);
    color: var(--wht);
    border-radius: 0;
    width: 82px;
}

ul.pagin li.paginNP:hover {
    background: #035084;
}

.htFilter {
    background: var(--org);
    padding: 15px 0;
}

.htFilterRow {
    display: flex;
    margin-left: -18px;
    margin-right: -18px;
}

.htFiltHead {
    width: 20%;
    padding: 0 18px;
}

.htFiltSortBox {
    position: relative;
}

.htFiltSortBox:after {
    content: '';
    background: url(../img/arrow.png) no-repeat;
    height: 8px;
    width: 15px;
    top: 46%;
    right: 30px;
    pointer-events: none;
    position: absolute;
}

.htFiltHead .htFiltHdSpan {
    cursor: pointer;
}

.htFiltHead .htFiltHdSpan {
    cursor: pointer;
    width: 100%;
    height: 50px;
    background: var(--wht);
    display: block;
    text-align: center;
    line-height: 50px;
    position: relative;
    font-size: 16px;
    color: black;
}

.htFiltHead .htFiltHdSpan img {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -4px;
}

.htFiltHead .select2-container--default .select2-selection--single {
    background: var(--wht);
    border-bottom: 0;
}

.htFiltHead .select2-container--default .select2-selection--single .select2-selection__rendered {
    text-align: center;
}

.htFiltHead .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #035084;
}

.htFiltHead .select2-container--default .select2-selection--single .select2-selection__arrow {
    background: url(../img/arrow.png) no-repeat center center;
}

.htFiltSearch {
    width: 100%;
    height: 50px;
    display: block;
    line-height: 50px;
    position: relative;
    font-size: 16px;
    color: #035084;
    background: #fff url(../img/search-clr.png) no-repeat calc(100% - 15px) center;
    outline: none;
    border: 0;
    padding: 0 15px;
    padding-right: 40px;
}

.htFiltSearch::-webkit-input-placeholder {
    text-align: center;
}

.htFiltSearch:-ms-input-placeholder {
    text-align: center;
}

.htFiltSearch::placeholder {
    text-align: center;
}

.htFiltHead.htFiltSearchBox {
    width: 40%;
    position: relative;
}

.htFiltSearchBox button {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 18px;
    border-radius: 0;
    height: 100%;
    width: 40px;
    opacity: 0;
}

.filtInt {
    background: var(--wht);
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 170px;
}

.filtInt ul {
    max-width: 750px;
    margin: 50px auto;
}

.filtInt ul li {
    display: inline-block;
    width: 32%;
    text-align: left;
    vertical-align: top;
}

.filtBtns {
    text-align: center;
}

.filtBtns button,
.filtBtns .button {
    width: 205px;
    color: #000;
    background: var(--wht);
    display: block;
    margin: 37px auto 0;
    padding: 10px 20px;
    font-size: 22px;
}

.filtBtns button:hover,
.filtBtns .button:hover {
    opacity: 0.8;
}

.filtBtns a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: underline;
    margin: 7px 0 12px;
    display: inline-block;
    vertical-align: middle;
}

.filtBtns a:hover {
    opacity: 0.8;
}

.filtResult {
    font-size: 15px;
    color: #ffffff;
    font-family: 'Open Sans', 'semibold', sans-serif;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

.filtIntBox,
.htFiltBody {
    display: none;
}

.filtInt ul li .check-box label {
    font-size: 18px;
    color: #6d6e71;
}

sup {
    font-size: 12px
}

h3 sup {
    top: -13px;
    font-weight: bold;
}

.searchContainer {
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 114, 179, 0.5);
    display: none;
}

.srchBox {
    height: 40px;
    background: rgba(15, 114, 179, 1);
}

.srch {
    position: relative;
}

.srch input {
    width: 100%;
    height: 40px;
    border: 0;
    outline: none;
    color: var(--wht);
    padding-left: 40px;
    padding-right: 30px;
    background: url(../img/search.png) no-repeat 0px center;
}

.srch .srchClose {
    position: absolute;
    top: 12px;
    right: 0;
    background: url(../img/close-white.png)no-repeat center center/contain;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.srch input::-webkit-input-placeholder {
    color: var(--wht);
}

.srch input:-ms-input-placeholder {
    color: var(--wht);
}

.srch input::placeholder {
    color: var(--wht);
}

.srchBtn {
    cursor: pointer;
    /* width      : 30px; */
    /* height     : 30px; */
    display: inline-block;
    vertical-align: middle;
}

/* Menu */

.menu-icon {
    position: relative;
    cursor: pointer;
    display: none;
    width: 35px;
    height: 28px;
    top: 0;
    margin: 0;
}

.menu-icon span {
    background: var(--blk);
    right: 0;
    top: 12px;
    position: absolute;
    width: 100%;
    height: 4px;
}

.menu-icon span:before {
    content: '';
    top: -11px;
    background: var(--blk);
    right: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    transition: all 0.3s ease;
}

.menu-icon span:after {
    content: '';
    top: 11px;
    background: var(--blk);
    right: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    transition: all 0.3s ease
}

.menu-icon.close span {
    height: 0px;
}

.menu-icon.close span:before {
    top: 0px;
    transform: rotate(45deg);
}

.menu-icon.close span:after {
    top: 0px;
    transform: rotate(-45deg);
}

.mob-menu {
    display: flex;
    width: 100%;
    height: 100%;
}

.mob-menu-up,
.mob-menu-box {
    display: none;
}

.mob-srchBtn {
    margin-right: 25px;
}

.mob-menu-up {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;
    color: var(--blk);
    transition: all 0.5s ease;
}

.slide {
    right: 0;
}

.mob-close-box {
    background: var(--org);
    text-align: center;
    padding: 35px 0;
    width: 100px;
    display: none;
}

.mob-close-box span {
    color: #ffffff;
    font-size: 28px;
    line-height: 1;
    display: inline-block;
}

/* Sub Menu */

.navigation li {
    position: relative;
    z-index: 100;
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.navigation ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 202px;
    position: absolute;
    left: 30px;
    background: #fff;
    z-index: 99;
    transform: translate(0, 20px);
    transition: all 0.2s ease-out;
}

.navigation ul li {
    position: relative;
    z-index: 100;
    display: block;
    float: none;
    background: #ebebeb;
    margin: 0;
    padding: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.navigation ul li a {
    font-size: 14px;
    font-weight: normal;
    display: block;
    color: #000;
    padding: 14px 0 !important;
}

.navigation li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.navigation ul li:hover,
.navigation li a:hover,
.navigation li:hover>a {
    color: #E74A21;
    background: #fff;
    font-weight: 700;
}

.navigation ul li:hover,
.navigation ul li:hover>a {
    background: #fbe4de;
}

.navigation ul li >a {
    white-space: nowrap;
}

.navigation ul li.active a {

    font-family: 'Open Sans', 'bold', sans-serif;
    color: #E74A21;
}

/* // Menu */

.h-banner-img-big img {
    width: 100%;
}

.h-banner-img {
    display: none;
}

.mobl {
    display: none;
}

.contact-msg {
    min-height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*text-align   : center;*/
    margin: 150px 0;
}

#regModal .modal-box {
    padding: 45px 40px;
}

#regModal {
    font-size: 14px;
    line-height: 1.5;
    color: #feffff;
}

#regModal .combig {
    font-size: 17px;
}

.modal-box-license h2 {
    font-family: 'vm75Bld';
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
    max-width: 905px;
}

.modal-box-license .default-box p {
    text-align: left;
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 16px;
}

.guidePop h3 {
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', 'semibold', sans-serif;
    font-weight: 600;
}

.guidePop ul {
    text-align: center;
}

.guidePop ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
}

.guidePop ul li a {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.guidePop .check-box {
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    margin: 60px 0 0;
}

.guidePop .check-box label {
    color: var(--wht);
}

.guidePop .check-box label:before {
    border: 1px solid #ffffff;
}

.guidePop .check-box input:checked+label:before {
    /* background: #ffffff;*/
    background: url(../img/right-white.png) no-repeat center center/contain;
}

.srch__container {
    background: var(--wht);
    padding: 20px 5px;
    margin: 0 30px;
}

.srch__container__in {
    width: 100%;
    float: left;
    padding: 0 15px;
}

.srch__container__in h2 {
    font-family: 'Open Sans', 'semibold', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #035084;
    margin-bottom: 20px;
}

.srch__container__in ul li {
    margin-bottom: 15px;
}

.srch__container__in ul li a {
    font-size: 16px;
    color: #035084;
    line-height: 1.5;
    display: block;
    text-transform: none;
}

.srch__container__in ul li a:hover {
    text-decoration: underline;
    color: #035084;
}

.srch-all {
    margin-top: 20px;
    text-align: center;
    padding: 0 20px;
}

.srch-all a {
    font-family: 'Open Sans', 'semibold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #035084;
    line-height: 1.5;
    display: block;
    text-transform: none;
}

.srch-all a:hover {
    text-decoration: underline;
    color: #035084;
}

.search-banner {
    height: auto;
    min-height: 94px;
    background-position-x: 90%;
}

.banner-container__top.search-banner h2 {
    max-width: 75%;
    margin: 20px 0 25px;
}

.search-container-up {
    margin: 70px 0;
}

.search-container {
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.search-container li {
    color: #6D6E71;
    line-height: 25.888px;
    font-size: 16px;
    margin-bottom: 35px;
}

.search-container li span {
    margin-bottom: 10px;
    display: block;
}

.search-container li a.search-main-link {
    font-size: 28px;
    color: #035084;
    line-height: 1.3;
    display: block;
    margin-bottom: 10px;
}

.search-container li a.search-sub-link {
    color: #035084;
    line-height: 25.888px;
    font-size: 16px;
    margin-bottom: 10px;
    word-break: break-all;
}

.srch__cont {
    display: inline-block;
    vertical-align: middle;
    max-height: 250px;
    overflow: auto;
}

.search-container li a.search-sub-link:hover {
    text-decoration: underline;
}

.alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.pagination {
    text-align: center;
    display: block;
}

.page-item {
    display: inline-block;
    position: relative;
    margin: 0 5px;
}

.page-link {
    font-size: 16px;
    color: var(--org);
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    font-family: 'Open Sans', 'semibold', sans-serif;
    font-weight: 600;
    border-radius: 50%;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    cursor: pointer;
    padding: 0;
    border: 0;
    margin: 0;
}

.page-link:hover {
    z-index: 2;
    color: var(--org);
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    background-color: var(--org);
}

.pagination .page-item:first-of-type .page-link,
.pagination .page-item:last-of-type .page-link {
    background: transparent;
    color: var(--wht);
    border-radius: 0;
    width: 82px;
    color: var(--wht);
    font-size: 0;
    z-index: 999;
}

.pagination .page-item:first-of-type:after,
.pagination .page-item:last-of-type:after {
    color: var(--wht);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    line-height: 30px;
    font-family: 'Open Sans', 'regular', sans-serif;
    font-weight: 600;
    background: var(--org);
}

.pagination .page-item:first-of-type:after {
    content: 'Prev';
}

.pagination .page-item:last-of-type:after {
    content: 'Next';
}

/*by sanat starts here*/

.disclaimer {
    background-color: rgba(225, 225, 225, 0.31);
    padding: 40px 20px;
}

.disclaimer p {
    line-height: 1.5;
    text-align: center;
    font-size: 13px;
    margin-bottom: 5px;
    color: #787878;
}

.privacy-policy {
    color: #787878;
    position: relative;
    top: -40px;
    float: right;
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

.privacy-policy:hover {
    color: #035084;
}

.guidePop p {
    width: 66%;
    margin: 25px auto 0;
}

/*by sanat ends here*/

.cirr .super {
    position: relative;
}

.super {
    position: relative;
    font-weight: normal;
}

.cirr .super,
.chronic .super,
.hep .super,
.pre .super {
    position: relative;
    font-weight: 600;
}

/*===========================================================
FOOTER START
===========================================================*/

footer {
    padding-top: 10px;
    font-family: 'vm55Roman';
    position: relative;
}

footer p {
    font-size: 13px;
    color: var(--blk);
    margin: 0 0 10px;
}

footer .copy {
    padding: 20px 40px;
}

.foo-logo .foo-condition {
    padding: 00px 0px 20px 40px;
}

.foo-logo .foo-condition img {
    margin-bottom: 20px;
    width: 300px;
}

footer .align-items {
    justify-content: space-between;
    align-items: flex-end;
}

.footer-note {
    margin-top: 30px;
}

.footer-note .contents-space {
    border-top: 2px solid var(--blk);
    padding-bottom: 0;
}

.footer-note p {
    font-family: 'vm55Roman';
    font-size: 14px;
    overflow-y: hidden;
    line-height: 1.5;
    color: var(--blk);
    margin-bottom: 20px;
    margin-right: 200px;
}

.footer-note p.footer-extra {
    margin-bottom: 0px;
}

/*===========================================================
FOOTER OVER
===========================================================*/
/*===========================================================
REFERENCE SEC
===========================================================*/

.refrences_container {
    position: relative;
}

.refrences_sec {
    background: #f5f5f5;
    height: 60px;
    width: 100%;
    color: var(--org);
    padding: 0 40px;
}

.refrences_sec h5 {
    line-height: 60px;
    font-family: 'vm65Med';
    font-size: 24px;
    position: relative;
    width: max-content;
    cursor: pointer;
    width: 100%;
}

.refrences_sec h5:after {
    content: '';
    position: relative;
    width: 12px;
    height: 12px;
    display: block;
    border-bottom: 2px solid var(--org);
    border-right: 2px solid var(--org);
    transform-origin: center center;
    transform: translate(-0%, -35%) rotate(45deg);
    transition: all 0.3s ease;
    display: inline-block;
    margin-left: 16px;
}

.refrences_sec h5.open:after {
    transform: translate(-0%, 0%) rotate(-135deg);
}

.slider {
    font-family: 'vm55Roman';
    font-size: 14px;
    overflow-y: hidden;
    line-height: 1.5;
    max-height: 0px;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease;
    /*   -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
 -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
 box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2); */
    background: var(--wht);
    left: 0%;
    color: var(--blk);
    z-index: 80;
    transform: translate(0%, 0%);
    width: 100%;
    padding: 0px 40px;
}

.slider li {
    margin-bottom: 16px;
}

.slider.inside-page-slider {
    position: relative;
}

.slider.open {
    max-height: 500px;
    padding: 30px 40px 0px;
}

.main_section .blue_tag a {
    position: relative;
    width: fit-content;
    text-decoration: none;
    color: var(--wht);
}

.main_section .blue_tag a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.main_section .blue_tag a:hover:after {
    width: 100%;
}

.main_section .sub-tag {
    font-family: 'Open Sans', 'regular', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #005084;
    padding: 30px 15px;
    margin-top: 30px;
    text-align: center;
}

.main_section .sub-tag span,
.main_section .sub-tag strong {
    font-weight: 900;
}

.order-list {
    margin: 0;
    padding: 0 0px;
    counter-reset: item;
}

.order-list>li {
    margin: 0 0 16px;
    padding: 0 0 0 0em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

.order-list>li:before {
    display: inline-block;
    width: 1.5em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

/* ========================================================================== 
COMMAN  CSS STYLE
==========================================================================*/

.margin-tb {
    margin: 90px 0 70px;
}

.margin-top1 {
    margin-top: 50px;
}

.margin-bottom1 {
    margin-bottom: 50px;
}

.main-title h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 41px;
    color: #005084;
}

.blue-box {
    background: #005084;
    padding: 20px 40px 30px;
    margin: 0 0 50px;
}

.blue-box .box-content {
    width: 100%;
    max-width: 751px;
    margin: auto;
}

.box-content h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 37px;
    color: #f7d259;
    line-height: 1.8
}

.box-content h4 span {
    font-weight: 400;
}

.box-content h6,
.box-content li {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 28px;
    color: #ffffff;
    line-height: 1.4;
    position: relative;
    /* margin-bottom: 20px; */
}

.box-content li {
    padding-left: 20px;
    margin-bottom: 20px;
}

.box-content h6 strong,
.box-content li strong {
    font-size: 37px;
    color: #f7d259;
}

.box-content h6 span,
.box-content li span {
    font-weight: 400;
}

.box-content li:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: #ffffff;
    top: 19px;
    left: 0;
    border-radius: 50%;
}

.box-content li:first-child:after {
    top: 26px;
}

.box-content sup {
    font-size: 14px;
}

.text-container p {
    font-family: 'Open Sans', 'regular', sans-serif;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
    font-size: 25px;
    width: fit-content;
    display: inline-block;
}

.text-container .title p {
    font-weight: 700;
    font-family: 'Open Sans', 'bold', sans-serif;
}

.text-container sup {
    font-size: 14px;
}

.text-container strong {
    color: #005084;
}

.text-container span {
    font-size: 29px;
}

/*   .text-container .list-one {
    max-width: 800px;
    width: 100%;
    margin-bottom: 70px;
} */

hr {
    width: 100%;
    height: 0;
    border-bottom: 2px solid var(--blk);
    margin-top: 0px;
    margin-bottom: 0px;
}

a.plain-link {
    position: relative;
    color: #000;
}

.gt-src {
    display: inline-block;
    position: relative;
    color: #000;
    width: calc(100% - 270px) !important;
}

.two-line-res p {
    vertical-align: top;
}

.two-line-res .blueBox--link {
    margin-top: 8px;
}

a.plain-link:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #000;
    bottom: -5px;
    left: 0;
}

.blueBox--link {
    padding: 10px 15px;
    background: #005084;
    color: #ffffff;
    font-size: 24px;
    margin-right: 10px;
    vertical-align: sub;
    margin-top: 20px;
    display: inline-block;
}

.yellow-head {
    margin-top: 50px;
    background-color: #f8e9c3;
    padding: 10px 25px;
}

.yellow-head h4 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 25px;
    color: #035084;
    margin-bottom: 0;
}

/* .list-one {
    font-family: 'Open Sans', 'regular', sans-serif;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
    font-size: 25px;
    margin: 20px 0 20px 60px;
}

.list-one li {
    position: relative;
    list-style-position: inside;
    margin: 5px 0;
    padding-left: 22px;
}

.list-one li:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
    top: 16px;
    left: 0;
} */
/*  .list-two {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #005084;
    margin-bottom: 15px;
    font-size: 26px;
    margin: 60px 0 60px 60px;
}

.list-two li {
    list-style: disc;
    list-style-position: outside;
    margin: 40px 0 0px;
}

.list-two li a {
    text-decoration: underline;
    color: #005084;
} */

.modal {
    background-color: rgba(255, 255, 255, 0.4);
}

.container {
    max-width: 1190px;
}

/* CUSTOMIZE TOOL CSS */

.customize-pg {
    padding: 150px 0 150px;
}

.customize-pg .row {
    padding: 15px;
}

.w50 {
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.customize-pg .w50 {
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
}

.customize-sec,
.customize-img-sec {
    background-color: #999;
    display: block;
    padding: 50px
}

.customize-img-sec {
    background-color: rgb(243, 243, 243);
}

.customize-img-sec img {
    width: 100%;
    height: 751px;
}

.customize-sec {
    background-color: #e85b36;
}

.main-area {
    background-color: var(--wht);
    text-align: center;
}

.main-area hr {
    border-bottom: 2px solid #e85b36;
    margin-top: 0px;
    margin-bottom: 0px;
}

.side-space {
    padding: 38px 40px 20px;
}

.main-area .check-box {
    text-align: left;
}

.main-area .check-box label {
    font-size: 17px;
    line-height: 1.5;
    color: var(--blk);
    cursor: pointer;
    padding-left: 35px;
}

.check-box label:before {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.main-area .title {
    font-size: 21px;
    color: var(--blk);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.main-area .title img {
    width: 40px;
    margin-right: 10px;
}

.upload-sec,
.riview-sec {
    margin-top: 40px;
    position: relative;
}

.upload-sec label {
    float: right;
    color: #7b7b7b;
    font-size: 13px;
    font-weight: 500;
}

.file-upload-wrapper,
.file-copy-wrapper input {
    position: relative;
    width: 100%;
    height: 45px;
    border: 1px solid var(--blk);
    border-radius: 0px;
    overflow: hidden;
    padding: 0 15px;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 20px;
    line-height: 20px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
    text-align: left;
    color: var(--blk);
}

.file-upload-wrapper:before {
    content: 'Choose File';
    position: absolute;
    top: 50%;
    right: 10px;
    display: inline-block;
    height: 30px;
    border: 1px solid #000;
    background: transparent;
    color: var(--blk);
    font-weight: 300;
    z-index: 25;
    font-size: 14px;
    line-height: 30px;
    padding: 0 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    pointer-events: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.file-upload-wrapper:hover:before {
    background: white;
    color: var(--org);
    border: 1px solid var(--org)
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

.main-area .mr-top-00 {
    margin-top: 10px !important;
}

.main-area .mr-top-01 {
    margin-top: 30px;
}

.riview-sec label {
    float: center;
    color: var(--blk);
    font-size: 15px;
    font-weight: 500;
}

.riview-sec .copy-url {
    width: 102px;
    position: absolute;
    bottom: 8px;
    right: 10px;
    display: inline-block;
    height: 30px;
    background: #fff;
    color: var(--blk);
    font-weight: 300;
    z-index: 25;
    font-size: 14px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 0px;
    border: 1px solid #000;
}

#create_link,
#previewTool,
.favrite-btn {
    border: 1px solid #000;
    background: #fff;
    color: var(--blk);
    font-size: 16px;
}

.riview-sec .copy-url i {
    margin-right: 3px
}

.side-space button {
    font-size: 16px;
}

.preview button {
    width: 100%;
}

.preview label {
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 500;
}

.preview .icon-img {
    width: 32px;
    display: inline-block;
    margin-right: 8px;
}

.preview label .icon-img img {
    width: 100%;
}

.back {
    font-size: 16px;
    color: var(--blk);
    text-decoration: underline;
    position: relative;
}

.back::before {
    content: '';
    width: 11px;
    height: 11px;
    border-left: 2px solid var(--blk);
    border-bottom: 2px solid var(--blk);
    position: absolute;
    top: 2px;
    left: -18px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.back:hover {
    font-size: 16px;
    color: var(--blk);
    text-decoration: none;
}

.main-area .check-box label,
.main-area .check-box {
    margin: 0;
}

/* My Favorites  CSS OVER*/

.refrences_sec.favorites {
    background-color: #f3f3f2;
    color: var(--blk);
    text-align: left;
    height: auto;
    padding: 30px 120px;
}

.refrences_sec.favorites h5 {
    color: var(--blk);
    line-height: 60px;
    font-size: 20px;
    margin: 0;
    width: 100%;
    font-family: 'vm95Blk';
}





.refrences_sec.favorites p {
    font-size: 18px;
    color: #4b4b4b;
    font-weight: 400;
    margin: 0 47px;
}

.refrences_sec.favorites .icon-img {
    width: 40px;
    margin-right: 5px;
    display: inline-block;
}

.slider.favorites {
    background-color: #f3f3f2;
    box-shadow: none;
    position: relative;
    padding: 0px 120px;
}

.slider.favorites.open {
    max-height: 500px;
    padding: 12px 120px 30px;
}

.slider.favorites.open .container {
    padding: 0px 0 20px;
    max-height: 370px;
    overflow-y: auto;
}

.slider.favorites ol {
    width: 95%;
}

.slider.favorites li {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: var(--blk);
    padding-right: 28px;
    margin-bottom: 18px;
    line-height: normal;
    position: relative;
    white-space: break-spaces;
}

.slider.favorites .delete {
    width: 17px;
    cursor: pointer;
    margin-right: -44px;
}

.small-note {
    font-size: 20px;
}

/* My Favorites  CSS OVER*/

.mr-top-02 {
    margin-top: 108px;
}

.tool-title {
    font-family: 'vm75Bld';
    color: #064079;
    text-align: left;
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 8px;
}

.tool-selection {
    align-items: flex-end;
}

.tool-selection .tool-title {
    border-bottom: 2px solid #064079;
    ;
}

.tool-head {
    font-family: 'vm45Lt';
    color: var(--blk);
    pointer-events: none;
}

.tool-head h4 {
    font-size: 36px;
}

/* Custome Check box */

.tool-checkbox {
    font-family: 'vm65Med';
    color: var(--blk);
    /*  display: block; */
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 1.2;
    padding: 15px 15px 15px 46px;
    display: flex;
    height: 88%;
    align-items: center;
}

.tool-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.tool-checkbox .checkmark {
    position: absolute;
    top: 50%;
    left: 15px;
    height: 20px;
    width: 20px;
    border: 1px solid #e85b36;
    background-color: transparent;
    transform: translateY(-50%);
}

.tool-checkbox.other .checkmark {
    top: 23px;
}

.tool-checkbox.other .textarea {
    flex: 1;
    margin-left: 24px;
    height: 90px;
    max-height: 90px;
    display: none;
    font-family: 'vm55Roman';
    color: var(--blk);
    line-height: 1.3;
    padding: 8px;
    font-size: 16px;
}

.tool-checkbox:hover input~.checkmark {
    border: 1px solid #e85b36;
}

.tool-checkbox input:checked~.checkmark {
    background-color: #e85b36;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.tool-checkbox input:checked~.checkmark:after {
    display: block;
}

.tool-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bg-clr {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
}

.tool-checkbox input:checked~.bg-clr {
    background-color: #fbe4de;
}

.mr-bottom {
    margin-bottom: 80px;
}



.mob-title {
    display: none;
}

.w100 {
    flex: 0 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
}

.mobile-ban-txt {
    display: none;
}



.reflink {
    position: relative;
    display: inline-block;
    text-decoration: none !important;
}


/* .reflink:before {
    content: ' ';
    position: absolute;
    bottom: -2px;
    border-bottom: 1px solid #000;
    width: calc(100% - 0px);
    transition: all .03s ease;

}

.reflink:hover:before {
    border-bottom: 1px solid #000;
    width: 0;
} */


.click_check {
    background: white;
    color: black;
    border: 1px solid black;
}


.ehr-text .col-lg-10 {
    max-width: 94%;
    flex: 1;
}

.ehr-text .col-lg-10 h3 {
    text-align: left;
}

.section-gray {
    background: rgb(243, 243, 243)
}

.gray-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gray-wrap .image-wrap img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.gray-wrap .image-wrap {
    height: 700px;
    width: 400px;
    margin-bottom: 24px;
}

.gray-wrap .section {
    width: 100%;
}

.left-align-box h3 {
    text-align: left;
    font-weight: bold;
    font-size: 26px;
}

.left-align-box {
    max-width: 97%;
    margin-left: auto;
}

.order-now-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.order-now-wrap h3 {
    color: white;
    font-weight: 900;
}


.order-inner p {
    text-align: left;
    margin-left: 24px;
}

.order-inner {
    opacity: 0.8;
    margin: 24px 0 24px;

}

.order-inner li {
    margin-bottom: 16px;
}

.create-link {
    padding: 5px 20px;
    font-size: 16px;
}

.wait-pop {
    background: rgba(232, 91, 54, 0.9);
    padding: 24px;
    position: absolute;
    z-index: 555555;
    border-radius: 20px;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wait-pop p {
    color: white;
    font-weight: 700;
}

.wait-pop h4 {
    color: var(--orange);
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 50px;
    background: white;
    width: max-content;
}

.care-sup-list li::marker {
    color: var(--orange);
    font-size: 36px
}


.footer-extra {
    text-align: left;
    margin-right: 0 !important;
    font-weight: 900;
}

.align-left {
    text-align: left;
}

.data p,
.data b {
    font-size: 18px;
}

.text-center p {
    text-align: center !important;
    font-size: 28px;
    width: 94%;
    margin: 0 auto;
}

.default-box {
    max-width: 1100px;
    width: 95%;
}

.login-box .default-box {
    margin-left: auto;
    margin-right: auto;
    ;
}


select {
    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.select2-clr {
    background-image:
        linear-gradient(45deg, transparent 50%, black 50%),
        linear-gradient(135deg, black 50%, transparent 50%),
        linear-gradient(to right, white, white);
    background-position:
        calc(100% - 20px) calc(1em + 5px),
        calc(100% - 15px) calc(1em + 5px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
}

select.select2-clr:focus {
    background-image:
        linear-gradient(45deg, white 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, white 50%),
        linear-gradient(to right, white, white);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #A7B3C4;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #A7B3C4;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #A7B3C4;
}

.model-img-align {
    display: flex;
    align-items: center;
    max-width: 580px;
    margin: auto;
    width: 100%;

}

.model-img-align.txt-left img {
    width: 94px;
    margin-right: 30px;
}


.model-img-align.txt-left p {
    margin-bottom: 0;
    font-family: 'vm75Bld';
    text-align: left;
    font-size: 24px;
}