/*------------------------------------------------------------------
[TABLE OF CONTENTS]

=> Color
=> Fonts
=> Custom Grid
=> Global Styles
=> buttons
=> Form Elements
=> Radio Small
=> Radio big
=> Checkbox Small
=> Tooltip
=> Radio Switch
=> Nav Tabs
=> Modal

-------------------------------------------------------------------*/

/*==========================================================================
=> Color
==========================================================================*/

:root {
    // --sidebarWidth: 430px;
}

// @org: #ff6e0e;
@blue: #005084;
@orange: #daaf46;
@roboto: 'Roboto', sans-serif;
@open: 'Open Sans', sans-serif;

/*==========================================================================
=> Fonts
==========================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap');

/*==========================================================================
=> Custom Grid
==========================================================================*/
/* Grid & Width */
/* //Grid & Width */
.f-row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
}

.f-col {
    padding: 0 15px;
}

.grid(@name; @columns; @index: 1) when (@index =< @columns) {
    .grid(@name; @columns; (@index + 1));

    .@{name}-@{index} .f-col {
        width: (percentage(1 / @index));
    }
}

.grid(f; 10);

/* // Grid & Width */

/* Custom Width */
.customWidth(@name; @columns; @index: 1; @count: 5) when (@index =< @columns) {
    .customWidth(@name; @columns; (@index + 1); (@count + 5));

    .@{name}@{count} {
        width: (percentage(@count / 100));
        padding-left: 15px;
        padding-right: 15px;
    }
}

.customWidth(w; 20);

.w33 {
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;
}

.w16 {
    width: 16.666666%;
    padding-left: 15px;
    padding-right: 15px;
}

/* // Custom Width */

/* Custom Margin */
.customMargin(@name; @columns; @index: 1; @count: 5) when (@index =< @columns) {
    .customMargin(@name; @columns; (@index + 1); (@count + 5));

    .@{name}@{count} {
        margin-bottom:~"@{count}px";
    }
}

.customMargin(mb-; 12);
/* // Custom Margin */

@media all and (max-width:1440px) {
    .grid(f-1440; 10);
    .customWidth(w-1440-; 20);
    .customMargin(mb-1440-; 10);
}

@media all and (max-width:1200px) {
    .grid(f-1200; 10);
    .customWidth(w-1200-; 20);
    .customMargin(mb-1200-; 10);
}

@media all and (max-width:990px) {
    .grid(f-990; 10);
    .customWidth(w-990-; 20);
    .customMargin(mb-990-; 10);
}

@media all and (max-width:768px) {
    .grid(f-768; 10);
    .customWidth(w-768-; 20);
    .customMargin(mb-768-; 10);
}

@media all and (max-width:640px) {
    .grid(f-640; 10);
    .customWidth(w-640-; 20);
    .customMargin(mb-640-; 10);
}

@media all and (max-width:480px) {
    .grid(f-480; 10);
    .customWidth(w-480-; 20);
    .customMargin(mb-480-; 10);
}

@media all and (max-width:400px) {
    .grid(f-400; 10);
    .customWidth(w-400-; 20);
    .customMargin(mb-400-; 10);
}


/*==========================================================================
=> Global Styles
========================================================================== */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C""\201D""\2018""\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input,
select[multiple],
textarea {
    background-image: none;
}

a {
    text-decoration: none;
    .anim();
}

a:active,
a:hover,
a:focus {
    outline: 0;
    text-decoration: none;
}

img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}

img.obj-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.obj-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul,
ol,
dl {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #CFD1D4;
}

a {
    .anim();
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

input [type=submit],
button {
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5;
}

/*==========================================================================
=> buttons
========================================================================== */
.button {}

/*==========================================================================
=> Form Elements
========================================================================== */
:root {
    --form-field-height: 50px;
}

.form-group,
.form-textarea-group {
    position: relative;
    margin-bottom: 30px;
}

.form-field {
    font-family: "Poppins";
    border: transparent;
    border-bottom: 1px solid #C9C9C9;
    height: 50px;
    width: 100%;
    z-index: 2;
    position: relative;
    background: transparent;
    font-size: 18px;
    color: #011738;
    font-weight: 700;
    outline: none;
    .anim();

}

.form-label {
    font-size: 18px;
    color: #8493A7;
    font-family: "Work Sans";
    font-weight: 400;
    left: 0;
    margin: 0;
    position: absolute;
    top: 13px;
    line-height: 1;
    width: 100%;
    .anim();

    .rht {
        float: right;
        color: #B7B7B7;
    }
}

.form-field:focus~.form-label,
.valid-field .form-label,
.no-float .form-label {
    top: -16px;
    font-size: 16px;
}

.no-float .form-label {
    line-height: 1.3;
}


.form-textarea-group .form-field {
    height: 150px;
    line-height: 1.3;
    padding: 10px 0;
    resize: none;
}

label.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.UploadBtn label.error {
    margin-bottom: 6px;
    display: block;
}

.form-field.valid {
    border-bottom-color: #24366F;
}

.form-field.error {
    border-bottom: 1px solid red;
}

/*==========================================================================
=> Checkbox Small
========================================================================== */
.checkbox-box {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.checkbox-box input {
    position: absolute;
    width: 0;
    opacity: 0;
}

.checkbox-box label {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    color: #000;
}

.checkbox-box label span {
    display: block;
    font-size: 14px;
    color: #8392a5;
}

.checkbox-box label:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid green;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    border-radius: 4px;
}

.checkbox-box label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: transparent;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: .2s all ease;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
    -ms-transition: .2s all ease;
    -o-transition: .2s all ease;
    border-radius: 2px;
}

// .checkbox-box input:checked~label::before {
//     border: 5px solid #15deae;
// }

.checkbox-box input:checked~label::after {
    background: green;
}

.checkbox-box label.error {
    display: none !important;
}

.checkbox-box input.error~label {
    color: #ff2323;
}

.checkbox-box input.error~label:before {
    border: 1px solid #ff2323;
}

/* // Checkbox */

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.req:after {
    content: "*";
    color: #fb6b03;
    margin-left: 5px;
    font-size: 24px;
    line-height: 1;
}