  .det (@font-size: 16px, @color: #000, @font-weight: 400) {
    font-size: @font-size;
    color: @color;
    font-weight: @font-weight;
  }

  .anim(@s: 0.2s) {
    transition: all @s ease-in-out;
    -webkit-transition: all @s ease-in-out;
  }

  .border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    border-radius: @radius;
  }

  .box-shadow(@top: 0, @left: 0, @blur: 20px, @color: rgba(0, 0, 0, 0.2)) {
    box-shadow: @top @left @blur @color;
  }

  .flex(@hor: space-between, @ver: center) {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;

    justify-content: @hor;
    align-items: @ver;
  }

  .ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }